language: go
sudo: required

go:
  - 1.6.3
go_import_path: k8s.io/frakti

install:
  - go install -v $(go list ./... | grep -v /vendor/)
  - hack/install-protoc.sh
  - hack/verify-all.sh -v

script:
  - hack/test-go.sh

